* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(227, 225, 225);
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 2rem;
    width: 80vw;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.title h2 {
    text-align: center;
    padding-bottom: 0.5rem;
}

.title span {
    width: 50px;
    height: 1px;
    border: 1px solid #353535;
}

.singleQus {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.singleQus header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.singleQus h4 {
    color: rgb(95, 94, 94);
    text-transform: capitalize;
}

.singleQus button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.singleQus-info {
    color: rgb(149, 146, 146);
    font-size: 0.85rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}